{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{% block nav %}
			{% include 'nav.twig' %}
		{% endblock %}
		{% block header %}
			<header class="header slidein" >
				<h1 class="colored">{{posts[0].title}}</h1>
			</header>
		{% endblock %}		
		
		<section id="content" role="main" class="content-wrapper container-fluid">
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>