<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="col-sm-4">
		
		</div>
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-copyright-mark"></span> {{"now" | date("Y")}}  Innovative Education International, Inc. <br />
			2845 E. Dupont Road <br />
			Fort Wayne, IN 46825 <br />
			260.487.4000
		</div>
		<div class="col-sm-4">
		
		</div>		
	</div>
</div>