{% extends "base.twig" %}

{% block header %}
	<div>
	<img class="img-responsive" src="{{posts[0].thumbnail}}"></img>
	<header class="header" >
		<h1>{{posts[0].title}} <small>{{posts[0].custom["wpcf-subtitle"]}}</small></h1>
		<h4>
			<span class="col-xs-8">{{posts[0].post_excerpt}}</span>
			<span class="col-xs-4"> 
				<a href="/our-work"><span class="btn btn-default btn-lg">Learn More</span></a>
			</span>
		</h4>
	</header>
	</div>
{% endblock %}
	
{% block content %}

{% endblock %}