@import "bootstrap-vars";
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap";

$big_margin : 40px;
html {
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
input[type="radio"], input[type="checkbox"] {
	margin: 7px 0 0;
}
@media (min-width: $screen-lg-min) {
	input[type="radio"], input[type="checkbox"] {
		margin: 11px 0 0;
	}
}
h5{
	color: $gray-light;
}
footer{
	position: relative;
	text-align: center;
	line-height: 1.3em;
	font-size: $font-size-base * .9;
	color: $gray;
	.navbar{
		padding: 20px 0;
	}
}
.navbar-brand{
	padding: 5px 15px;
	img{
		max-width: 100%;
		max-height: 100%;		
	}
}
.nav *{
	font-family: $font-family-sans-serif;
}
.media{
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 0;
	margin-bottom: 0;
	.media-left{
		@extend .col-xs-12;
		@extend .col-sm-4;
		img{
			max-height: 100px;
			margin: 20px auto;
			@media (min-width: $screen-sm-min) {
				margin-bottom: 0;
				float: right;				
			}
		}
	}
	.media-body{
		@extend .col-sm-6;
	}
}
.thumb{
	margin-top: -1 * $big_margin;
	margin-bottom: $big_margin;
}
header{
	background: $brand-primary;
	@extend .clearfix;
	h1{
		@extend .col-sm-8;
		@extend .col-sm-offset-2;
		color: $almost-white;	
		margin-bottom: 26px;
	}	
}
.home{
	header{
		color: $almost-white;
		background: rgba($deep-gray,.9);
		padding: 0;
		h1{
			@extend .col-sm-offset-0;
			@extend .col-lg-5;
			@extend .col-lg-offset-1;
			@extend .clearfix;
			margin-top: 0;
			padding-top: 40px;			
		}
		h4{
			@extend .col-lg-6;
			@extend .clearfix;
			line-height: 1.4em;
			margin: 0;
			padding-bottom: 50px;			
		}
		small{
			display: block;
			color: $brand-primary;
		}
		.btn{
			margin-top: 25px;
		}
	}
	@media (min-width: $screen-lg-min) {
		header{
			position: relative;
			margin-top: -15%;
			h1{
				padding-bottom: 40px;			
			}
			h4{
				background-color: rgba($brand-secondary,.7);
				padding-top: 50px;		
			}
		}
		footer{
			margin-top: 0%;
		}
		.navbar .container-fluid{
			width: 100%;
			margin-left: 0;
		}
	}
}
.wrapper{
	.row{
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.row:nth-of-type(3n+1){
		background: $deep-gray;
		color: $almost-white;
		h2{
			color: $brand-primary;
		}
		a{
			color: $brand-third;
		}
	}	
	.row:nth-of-type(3n+2){
		background: $brand-secondary;
		color: $almost-white;
		h2{
			color: $almost-white;
		}
		a{
			color: $brand-third;
		}
	}
	.row:nth-of-type(3n){
		background: $almost-white;
		color: $brand-secondary;
		h2{
			color: $brand-secondary;
		}
		a{

		}
	}
	@media (min-width: $screen-lg-min) {
		.row{
			padding-bottom: 10%;
			padding-top: 5%;
			font-size: 20px;
			h4{
				font-size: 36px;
			}
		}
	}
}
.our-team,.activity-update{
	.media{
		strong{
			color: $brand-secondary;
		}
		img{
			max-height: 200px;
			border-radius: 50%;
			border: 10px solid $brand-primary;
		}
	}
}
.our-partners{
	.media{
		.media-left{
			@extend .col-sm-3;
			@extend .col-sm-offset-1;
			img{
				max-width: 50%;
			}
		}		
	}
}
.documents{
	.wrapper{
		@extend .col-sm-8;
		@extend .col-sm-offset-2;
	}
}
.our-purpose,.what-we-do,.get-involved,.our-history,.single{
	.wrapper{
		img{
			border-radius: 50%;
			border: 10px solid $almost-white;
		}
	}
	.wrapper .row:nth-of-type(3n) {
		img{
			border-color: $brand-secondary;
		}
	}
}
.what-we-do, .our-team,.activity-update{
	.wrapper{
		img{
			max-height: 250px;
		}
	}
}
.what-we-do .laptop-recycling-program{
	img{
		border: none;
		border-radius: 0;
	}
}